*{
  margin: 0;
  padding: 0;
  background: #693C72;
}

.App{
  border-radius: 0.25em;
  background: #C15050;
  max-width: 700px;
  width: 90%;
  text-align: center;
  margin: 4em auto;
}
h1{
  padding: 0.5em 0;
  color: #D49D42;
  background: #C15050;
}
hr{
  max-width: 600px;
  width: 95%;
  margin: 1em auto;
  color: #693C72;
}

.form{
  background: #C15050;
  display: flex;
  flex-direction: column;
  max-width: 600px;
  width: 90%;
  margin: 2em auto;
}

.field{
  background: #C15050;
  height: 4em;
  margin: auto;
  max-width: 500px;
  width: 100%;
}

.input{
  background: white;
  max-width: 500px;
  width: 90%;
  margin: 1em auto 0 auto;
  padding: 0.5em;
  border-radius: 0.25em;
  border: 2px solid #C15050;
}



.errmsg{
  background: #C15050;
  margin: auto;
  max-width: 500px;
  width: 90%;
  color: white;
  text-align: left;
}
.input:focus{
  outline: none;
}



.button{
  width: 35%;
  height: 30px;
  margin: 1em auto;
  padding: 0.5em;
  background: #D49D42;
  border: none;
  color: white;
  border-radius: 0.25em;
  cursor: pointer;
}

.button:focus{
  outline: none;
}